

<section id="about"  class="about flex flex-col md:flex-col justify-center items-center">
    <div class="grid grid-cols-1 md:grid-cols-2 w-9/12 md:h-dvh  justify-center items-center shadow-lg  ">

        <div class="flex justify-start items-start flex-col">
            <div class="p-8">
                <h2 class="text-3xl font-textos font-semibold">Sobre Mi</h2>
                <div class="separador bg-stone-900 w-32 h-1 mb-3"></div>
                <p class="text-1.2xl text-stone-900 mb-4">Como desarrollador front-end, trabajo en la creación de soluciones web que buscan unir funcionalidad con diseño intuitivo. Mi enfoque se centra en desarrollar interfaces limpias y eficientes, siempre considerando las necesidades del usuario final.</p>
                <p class="text-1.2xl text-stone-900 mb-4">A través de una metodología estructurada y un compromiso constante con la calidad del código, construyo interfaces que aspiran a ser tanto técnicamente sólidas como accesibles, priorizando siempre la experiencia del usuario.</p>
                
            </div>					
        </div>

        <div class="flex justify-start items-start flex-col p-5 space-y-16 md:ml-16 ml-0">
            
            <div class="flex gap-4 items-center ">
                <div class="flex justify-center items-center">
                    <svg fill="#1c1917" width="35px" height="35px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">

                        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                    
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                    
                        <g id="SVGRepo_iconCarrier">
                    
                        <path d="M1.293,11.293l4-4A1,1,0,1,1,6.707,8.707L3.414,12l3.293,3.293a1,1,0,1,1-1.414,1.414l-4-4A1,1,0,0,1,1.293,11.293Zm17.414-4a1,1,0,1,0-1.414,1.414L20.586,12l-3.293,3.293a1,1,0,1,0,1.414,1.414l4-4a1,1,0,0,0,0-1.414ZM13.039,4.726l-4,14a1,1,0,0,0,.686,1.236A1.053,1.053,0,0,0,10,20a1,1,0,0,0,.961-.726l4-14a1,1,0,1,0-1.922-.548Z"/>
                    
                        </g>
                    
                    </svg>
                </div>
                <div class="flex flex-col">
                    <h3 class="text-2xl text-stone-900 font-textos font-semibold">Tecnologias</h3>
                    <p class="text-1.2xl">Astro, React, Next.Js, TypeScript</p>
                </div>
            </div>
        
            <div class="flex gap-4 items-center">
                <div class="flex justify-center items-center">
                    <svg width="35px" height="35px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">

                        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                    
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                    
                        <g id="SVGRepo_iconCarrier">
                    
                        <path clip-rule="evenodd" d="m9 2.25c-2.07107 0-3.75 1.67893-3.75 3.75 0 1.2267.58901 2.31583 1.49963 3-.91062.68417-1.49963 1.7733-1.49963 3s.58901 2.3158 1.49964 3c-.91063.6842-1.49964 1.7733-1.49964 3 0 2.0711 1.67893 3.75 3.75 3.75 2.0711 0 3.75-1.6789 3.75-3.75v-2.25-.7497c.6267.4707 1.4058.7497 2.25.7497 2.0711 0 3.75-1.6789 3.75-3.75 0-1.2267-.589-2.31583-1.4996-3 .9106-.68417 1.4996-1.7733 1.4996-3 0-2.07107-1.6789-3.75-3.75-3.75h-2.25-.75-.75zm6 6c1.2426 0 2.25-1.00736 2.25-2.25s-1.0074-2.25-2.25-2.25h-2.25v4.5zm-3.75 3.75v-2.25h-2.25c-1.24264 0-2.25 1.0074-2.25 2.25s1.00736 2.25 2.25 2.25h2.25zm1.5 0c0-1.2426 1.0074-2.25 2.25-2.25s2.25 1.0074 2.25 2.25-1.0074 2.25-2.25 2.25-2.25-1.0074-2.25-2.25zm-3.75-8.25h2.25v4.5h-2.25c-1.24264 0-2.25-1.00736-2.25-2.25s1.00736-2.25 2.25-2.25zm0 12h2.25v2.25c0 1.2426-1.0074 2.25-2.25 2.25-1.24264 0-2.25-1.0074-2.25-2.25s1.00736-2.25 2.25-2.25z" fill="#1c1917" fill-rule="evenodd"/>
                    
                        </g>
                    
                    </svg>
                </div>
                <div class="flex flex-col">
                    <h3 class="text-2xl text-stone-900 font-textos font-semibold">Diseño UI/UX</h3>
                    <p class="text-1.2xl">Creación de interfaces intuitivas y atractivas</p>
                </div>
            </div>
            <div class="flex gap-4 items-center">
                <div class="flex justify-center items-center">
                    <svg width="35px" height="35px" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" stroke-width="3" stroke="#000000" fill="none">

                        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                    
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                    
                        <g id="SVGRepo_iconCarrier">
                    
                        <path d="M41.71,10.58H28l-7.4,22.28a.1.1,0,0,0,.09.13h8.49a.1.1,0,0,1,.1.13L22.71,52.76a.5.5,0,0,0,.88.45L43.41,26a.1.1,0,0,0-.08-.16H34.42a.11.11,0,0,1-.09-.15l7.47-15A.1.1,0,0,0,41.71,10.58Z"/>
                    
                        </g>
                    
                    </svg>
                </div>
                <div class="flex flex-col">
                    <h3 class="text-2xl text-stone-900 font-textos font-semibold">Optimización</h3>
                    <p class="text-1.2xl">Mejora de rendimiento y velocidad de carga</p>
                </div>
            </div>
        </div>
    </div>
</section>