<footer class="w-full flex justify-center items-center md:flex-row border-t-1 border-stone-300">
    <p class="text-1xl h-10 text-center">© 2024 FrontForge. Todos los derechos reservados.</p>
</footer>