<header class="sticky top-0 w-full flex justify-center items-center md:flex-row border-b-1 border-stone-300 bg-orange-100">
    <div class="w-9/12 h-auto flex justify-between items-center md:flex-row flex-col py-5">
        <section class="flex justify-center items-center space-x-3  text-3xl font-textos font-bold text-stone-900 md:pb-0 pb-3">

            <svg width="40" height="40" viewBox="0 0 650 650" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="650" height="650" fill="#1E1E1E"/>
                <rect width="650" height="650" fill="#1C1917"/>
                <rect x="75.5" y="75.5" width="499" height="499" fill="#FFF7ED" stroke="#FFF7ED"/>
                <path opacity="0.38" d="M267.45 438.315C267.03 435.165 267.03 431.805 267.45 428.235C277.53 427.185 284.775 426.24 289.185 425.4C293.595 424.35 296.325 422.25 297.375 419.1C298.425 415.95 298.95 410.595 298.95 403.035V256.56C298.95 247.74 298.425 241.44 297.375 237.66C296.325 233.88 293.595 231.465 289.185 230.415C284.985 229.155 278.055 228.105 268.395 227.265C267.975 224.115 267.975 220.755 268.395 217.185C273.435 217.185 277.635 217.29 280.995 217.5C284.565 217.5 288.24 217.5 292.02 217.5C295.8 217.5 300.525 217.605 306.195 217.815C312.075 217.815 319.845 217.815 329.505 217.815C341.475 217.815 353.655 217.815 366.045 217.815C378.435 217.605 389.88 217.5 400.38 217.5C411.09 217.5 419.7 217.5 426.21 217.5C432.93 217.29 436.5 217.185 436.92 217.185C437.97 225.165 439.125 233.46 440.385 242.07C441.645 250.68 443.01 259.815 444.48 269.475C442.8 269.685 441.015 269.79 439.125 269.79C437.445 269.79 435.765 269.685 434.085 269.475C428.625 255.405 422.22 245.535 414.87 239.865C407.31 233.775 395.445 230.73 379.275 230.73H333.6V319.875H354.39C364.47 319.875 372.135 319.245 377.385 317.985C382.635 316.515 386.52 313.47 389.04 308.85C391.56 304.02 393.555 296.46 395.025 286.17C398.805 285.54 402.375 285.54 405.735 286.17C405.525 294.99 405.315 302.025 405.105 307.275C405.105 312.315 405.105 316.305 405.105 319.245C405.105 322.185 405.105 324.915 405.105 327.435C405.105 329.745 405.105 332.37 405.105 335.31C405.105 338.25 405.105 342.345 405.105 347.595C405.315 352.845 405.525 359.985 405.735 369.015C402.585 369.645 399.015 369.645 395.025 369.015C393.765 357.885 391.875 349.905 389.355 345.075C386.835 340.035 383.055 336.885 378.015 335.625C373.185 334.365 366.255 333.735 357.225 333.735H333.6V398.94C333.6 405.45 333.81 410.49 334.23 414.06C334.65 417.63 335.91 420.465 338.01 422.565C340.11 424.455 343.26 425.715 347.46 426.345C351.87 426.975 358.17 427.605 366.36 428.235C366.99 431.595 366.99 434.955 366.36 438.315C361.95 438.315 356.595 438.21 350.295 438C343.995 438 337.695 438 331.395 438C325.305 437.79 320.16 437.685 315.96 437.685C311.97 437.685 307.035 437.79 301.155 438C295.275 438 289.29 438 283.2 438C277.32 438.21 272.07 438.315 267.45 438.315Z" fill="#212121"/>
                <path d="M259 421.3C258.6 418.3 258.6 415.1 259 411.7C268.6 410.7 275.5 409.8 279.7 409C283.9 408 286.5 406 287.5 403C288.5 400 289 394.9 289 387.7V248.2C289 239.8 288.5 233.8 287.5 230.2C286.5 226.6 283.9 224.3 279.7 223.3C275.7 222.1 269.1 221.1 259.9 220.3C259.5 217.3 259.5 214.1 259.9 210.7C264.7 210.7 268.7 210.8 271.9 211C275.3 211 278.8 211 282.4 211C286 211 290.5 211.1 295.9 211.3C301.5 211.3 308.9 211.3 318.1 211.3C329.5 211.3 341.1 211.3 352.9 211.3C364.7 211.1 375.6 211 385.6 211C395.8 211 404 211 410.2 211C416.6 210.8 420 210.7 420.4 210.7C421.4 218.3 422.5 226.2 423.7 234.4C424.9 242.6 426.2 251.3 427.6 260.5C426 260.7 424.3 260.8 422.5 260.8C420.9 260.8 419.3 260.7 417.7 260.5C412.5 247.1 406.4 237.7 399.4 232.3C392.2 226.5 380.9 223.6 365.5 223.6H322V308.5H341.8C351.4 308.5 358.7 307.9 363.7 306.7C368.7 305.3 372.4 302.4 374.8 298C377.2 293.4 379.1 286.2 380.5 276.4C384.1 275.8 387.5 275.8 390.7 276.4C390.5 284.8 390.3 291.5 390.1 296.5C390.1 301.3 390.1 305.1 390.1 307.9C390.1 310.7 390.1 313.3 390.1 315.7C390.1 317.9 390.1 320.4 390.1 323.2C390.1 326 390.1 329.9 390.1 334.9C390.3 339.9 390.5 346.7 390.7 355.3C387.7 355.9 384.3 355.9 380.5 355.3C379.3 344.7 377.5 337.1 375.1 332.5C372.7 327.7 369.1 324.7 364.3 323.5C359.7 322.3 353.1 321.7 344.5 321.7H322V383.8C322 390 322.2 394.8 322.6 398.2C323 401.6 324.2 404.3 326.2 406.3C328.2 408.1 331.2 409.3 335.2 409.9C339.4 410.5 345.4 411.1 353.2 411.7C353.8 414.9 353.8 418.1 353.2 421.3C349 421.3 343.9 421.2 337.9 421C331.9 421 325.9 421 319.9 421C314.1 420.8 309.2 420.7 305.2 420.7C301.4 420.7 296.7 420.8 291.1 421C285.5 421 279.8 421 274 421C268.4 421.2 263.4 421.3 259 421.3Z" fill="#1C1917"/>
                <line x1="228.677" y1="285.64" x2="505.677" y2="475.64" stroke="#FFF7ED" stroke-width="13"/>
            </svg>

            <a href="#home">
                <h1>Front-End </h1>
            </a>
        </section>

        <section class="flex justify-center items-center md:flex-row flex-col md:space-x-10 text-1xl font-textos font-light text-stone-900">
            <a href="#home">
                <h2 class="hover:text-rose-600 transition duration-300">HOME</h2>
            </a>
            <a href="#about">
                <h2 class="hover:text-rose-600 transition duration-300">ABOUT</h2>
            </a>
            <a href="#projects">
                <h2 class="hover:text-rose-600 transition duration-300">PROJECTS</h2>
            </a>
            <a href="#contact">
                <h2 class="hover:text-rose-600 transition duration-300">CONTACT</h2>
            </a>
        </section>
    </div>
</header>
