<header class="sticky top-0 w-full flex justify-center items-center md:flex-row border-b-1 border-stone-300 bg-white z-50">
    <div class="w-9/12 h-auto flex justify-between items-center md:flex-row flex-col py-5">
        <section class="text-3xl font-textos font-bold text-stone-900 md:pb-0 pb-3">
            <a href="#home">
                <h1>FrontForge</h1>
            </a>
        </section>

        <section class="flex justify-center items-center md:flex-row flex-col md:space-x-10 text-1xl font-textos font-light text-stone-900">
            <a href="#home">
                <h2 class="hover:text-rose-600 transition duration-300">HOME</h2>
            </a>
            <a href="#about">
                <h2 class="hover:text-rose-600 transition duration-300">ABOUT</h2>
            </a>
            <a href="#projects">
                <h2 class="hover:text-rose-600 transition duration-300">PROJECTS</h2>
            </a>
            <a href="#contact">
                <h2 class="hover:text-rose-600 transition duration-300">CONTACT</h2>
            </a>
        </section>
    </div>
</header>
