<section class="home flex justify-center items-center">
    <div id="home" class="w-9/12 h-dvh flex justify-center items-center flex-col shadow-lg">
        <h1 class="text-7xl font-bold font-textos text-stone-900 text-center">Diego Correa</h1>
        <div class="separador w-5/12 h-1 bg-stone-900 my-5"></div>
        <h2 class="text-3xl font-light text-center">Desarrollador Front-End</h2>
        <div class="pt-20 bounce-animation">
            <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    
                <g id="SVGRepo_bgCarrier" stroke-width="0"/>
            
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
            
                <g id="SVGRepo_iconCarrier"> <path d="M5.70711 9.71069C5.31658 10.1012 5.31658 10.7344 5.70711 11.1249L10.5993 16.0123C11.3805 16.7927 12.6463 16.7924 13.4271 16.0117L18.3174 11.1213C18.708 10.7308 18.708 10.0976 18.3174 9.70708C17.9269 9.31655 17.2937 9.31655 16.9032 9.70708L12.7176 13.8927C12.3271 14.2833 11.6939 14.2832 11.3034 13.8927L7.12132 9.71069C6.7308 9.32016 6.09763 9.32016 5.70711 9.71069Z" fill="#1c1917"/> </g>
            
            </svg>
        </div>
    </div>
</section> 

<style>
    @keyframes bounce {
        0%, 100% {
            transform: translateY(0); 
        }
        50% {
            transform: translateY(-10px); 
        }
    }

    .bounce-animation {
        animation: bounce 1.5s infinite ease-in-out;
    }
</style>