<section class="home flex justify-center items-center">
    <div id="home" class="w-9/12 h-dvh flex justify-center items-center flex-col">
        <h1 class="text-7xl font-bold font-textos text-stone-900 text-center">Diego Correa</h1>
        <div class="separador w-5/12 h-1 bg-stone-900 my-5"></div>
        <h2 class="text-3xl font-light">Desarrollador Front-End</h2>
    </div>
</section>